body{
    font-family: 'Roboto', sans-serif;
}
.name-highlight{
    color: orange;
}
h1{
    font-weight: 50px;
}
.half-width{
    width: 30%;
    float: left;
    margin-left:5%;
    padding-left: 2%;
}
.half-width p{
    text-align: justify;
    text-decoration: solid;
}
.half-width img{
    width: 150%;
}